<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Register/SignUp</title>
</head>
<body>
	<form action="register" method="post">
	<fieldset>
	<legend>Register/SignUp</legend>
		<label>user name : </label> 
		<input type="text" name="username" /><br>
		<label>email : </label> 
		<input type="email" name="email" /><br>
		<label>password : </label> 
		<input type="password" name="password" /><br>
		<label>gender : </label> 
		<input type="radio" name="gender" value="male" />male 
		<input type="radio" name="gender" value="female" />Female
		<input type="radio" name="gender" value="other" />other<br> 
		<label>role : </label> 
		<input type="radio" name="role" value="Admin" />Admin
		<input type="radio" name="role" value="Customer" />Customer <br> 
		<label>address : </label>
		<textarea name="address"></textarea>
		<br> <input type="submit" value="REGISTER" />
		</fieldset>
	</form>
</body>
</html>



